.bg {
  background-color: #f8f8f8;
  width: 100%;
  height: 100vh;
  position: relative;
  cursor: pointer;
  overflow: hidden;

  .cover {
    background-color: #b2dffb;
    width: 50%;
    height: 100vh;
    animation: covered_back 1.8s ease-in-out;
  }

  @keyframes covered_back {
    from {
      width: 100%;
    }
    to {
      width: 50%;
    }
  }

  .covering {
    background-color: #b2dffb;
    width: 100%;
    height: 100vh;
    animation: covered 1.8s ease-in-out;
  }

  @keyframes covered {
    from {
      width: 50%;
    }
    to {
      width: 100%;
    }
  }

  .hello {
    color: #1c1a20;
    font-size: 200px;
    font-weight: 800;
    letter-spacing: -5px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -200px;
    transform: translateX(-50%);
    animation: fadein 3s ease-out;
    animation: text-back 2s ease-in-out;
  }

  @keyframes text-back {
    from {
      left: 100%;
    }
    to {
      left: 50%;
    }
  }

  .hello-he {
    margin-bottom: -50px;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .moving-hello {
    color: #1c1a20;
    font-size: 200px;
    font-weight: 800;
    letter-spacing: -5px;
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -200px;
    transform: translateX(-50%);
    animation: text-go 2s ease-in-out;
  }

  @keyframes text-go {
    from {
      left: 50%;
    }

    to {
      left: 100%;
    }
  }

  .scroll-arrow {
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
    display: flex;
    transform: rotate(270deg);
    position: fixed;
    left: 65px;
    bottom: 75px;
    animation: scroll-up 0.5s ease-out;
    z-index: 50;
  }

  @keyframes scroll-up {
    from {
      bottom: 25px;
    }
    to {
      bottom: 75px;
    }
  }
  .arrow-icon {
    z-index: 50;
    font-size: 18px;
    position: fixed;
    left: 72px;
    bottom: 38px;
    animation: scroll-infinite 1.5s ease-in-out infinite;
  }

  @keyframes scroll-infinite {
    0% {
      bottom: 38px;
    }
    50% {
      bottom: 25px;
    }
    100% {
      bottom: 38px;
    }
  }
}

.main-bottom-invisible {
  display: none;
}

.main-bottom-visible {
  background-color: #f8f8f8;
}
